body {
  max-width: 100vw;
}

#TitleBanner {
  position: sticky;
  top: 0px;
  background-color: #fff;
}

#TitleBanner a {
  text-decoration: none;
  color: inherit;
}

#AppLogo {
  height: 2em;
  vertical-align: bottom;
}

#CardBox, .card_box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  width: 100%;
  max-width: 100%;
}

.video_card {
  padding: 3px;
  box-sizing: content-box;
}

.video_card img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.video_card_title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video_card_meta {
  font-size: 80%;
}

.video_card_user {
  margin-inline-end: 1.5em;
}

.video_card_date {
  color: #000000a8;
}

a.video_card_link {
  text-decoration: none;
  color: inherit;
}

.username_h {
  font-size: 250%;
  font-weight: bold;
  font-style: italic;
}

#NoSuchUser {
  display: none;
}

#VideoArea, #VideoArea video {
  margin: auto;
  max-width: 100%;
  max-height: 70vh;
}

#VideoDescriptionText {
  outline: 0px none;
  resize: none;
  width: 100%;
  border: 1px solid #999;
  font-family: inherit;
  font-size: inherit;
}

/********** THEMES **********/

body {
  color: #333;
}