body {
  max-width: 100vw;
}

#TitleBanner {
  position: sticky;
  top: 0px;
}

#TitleBanner h1 {
  display: inline-block;
  margin: 4px;
  margin-inline-end: 1.5em;
}

#TitleBanner h2 {
  display: inline-block;
  margin: 4px;
}

#TitleBanner a {
  text-decoration: none;
  color: inherit;
}

#AppLogo {
  height: 2em;
  vertical-align: bottom;
}

#CardBox, .card_box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  width: 100%;
  max-width: 100%;
}

.video_card {
  padding: 3px;
  box-sizing: content-box;
}

.video_card img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.video_card_title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video_card_meta {
  font-size: 80%;
}

.video_card_user {
  margin-inline-end: 1.5em;
}

a.video_card_link {
  text-decoration: none;
  color: inherit;
}

.username_h {
  font-size: 250%;
  font-weight: bold;
  font-style: italic;
}

#NoSuchUser {
  display: none;
}

#VideoArea, #VideoArea video {
  margin: auto;
  max-width: 100%;
  max-height: 70vh;
}

#VideoDescriptionText {
  outline: 0px none;
  resize: none;
  width: 100%;
  border: 1px solid #999;
  font-family: inherit;
  font-size: inherit;
}

#VideoReaction {
  display: none;
}

/********** THEMES **********/

body {
  color: #333;
}

#TitleBanner {
  background-color: #fff;
}

#TitleBanner h1 {
  color: #FA833B;
}

a {
  color: #0e71f2;
}

.video_card_title, #VideoTitle {
  color: #000;
}

.video_card_date {
  color: #666;
}

textarea {
  background-color: transparent;
  color: inherit;
}

.reaction_button {
  border: 1px solid #333;
  border-radius: 5px;
  background-color: transparent;
  font-size: 28px;
}

@media screen and (prefers-color-scheme: dark) {
  body, #TitleBanner {
    background-color: #0f0f0f;
    color: #fff;
  }

  .video_card_title, #VideoTitle {
    color: #fff;
  }

  .video_card_date {
    color: #ccc;
  }

  a {
    color: #f3d57d;
  }

  .reaction_button {
    border-color: #e8e8e8;
  }
}